@-webkit-keyframes button_hover{
    0% {
        background-position: 0px 100px,0px 0px;
    }
    100%{
        background-position: 0px 0px,0px 0px;
    }
}
@-webkit-keyframes button_out{
    0% {
        background-position: 0px -100px,0px 0px;
    }
    100%{
        background-position: 0px 0px,0px 0px;
    }
}
button{
    width: auto;
    padding: 0px 10px 0px 10px;
    height: 40px;
    font-size: 14px;
    background-image: url(/res/button_bg.png),-webkit-linear-gradient(top,#ff9d00,#cc6200);
    background-size: 200%;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    color: #fff;
    line-height: normal;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    -webkit-animation: button_out 0.5s linear 0s 1;
    margin: 5px;
    display: inline-block;

}
button.select{

    background-image: url(/res/button_bg.png),-webkit-linear-gradient(top,#f9291e,#ff0c00);

}
button:hover{
    -webkit-animation: button_hover 0.5s linear 0s 1;
}
input{
    width: 200px;
    height: 40px;
    line-height: normal;
    background-image: -webkit-linear-gradient(top,#eee,#fff);
    border: 1px solid #fff;
    border-radius: 2px;
    display: inline-block;
    padding: 4px;
    margin-bottom: 9px;
    font-size: 16px;
    box-sizing: border-box;
    color: #555;
}

.wrap{
    max-width:900px;
    width: 100%;
    height: auto;
    margin: 20px auto;
}

.footer{
    background: #292929;
    color: #cacaca;
    padding: 30px 0px 30px 0px;
}