*{
	margin: 0;
	padding: 0;
}
div[contenteditable="true"]{
	border: solid #ccc 5px; 
	width: 80%;
	margin: 20px auto;
	padding: 20px;
}
#edit_bar{
	width: 100%;
	height: 50px;
	-moz-user-select: none; /*火狐*/
   -webkit-user-select: none;  /*webkit浏览器*/
   -ms-user-select: none;   /*IE10*/
   -khtml-user-select: none; /*早期浏览器*/
   user-select: none;
   text-align: center;
}
h2{
	text-align: center;
	margin: 20px auto;
}
#edit_bar span{
	width: 50px;
	height: 50px;
	background-color: #ccc;
	color: #000;
	font-size: 18px;
	line-height: 50px;
	display: inline-block;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}
#upload_pic{
	position: absolute;
	top: -1000px;
}
.upload_pic{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background-image: url(insert_image.png);
	background-size: 90%;
	background-position: center;
	background-repeat: no-repeat;
}
#edit_bar span.info{
	background-image: url(info.png);
	background-size: 90%;
	background-position: center;
	background-repeat: no-repeat;
}
#edit_info{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #000;
	opacity: 0.8;
	z-index: 999;
	display: none;
}
#edit_info .about{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 300px;
	height: 200px;
	background-color: #fff;
	border:solid #ccc 3px;
	border-radius: 10px;
	padding: 10px;
}
#edit_info .about .close{
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background:url(close.png);
	background-size: 100%;
	cursor: pointer;
}
div[contenteditable="true"] div{
	width: 100%;
	height: auto;
	line-height: 1.2em;
	margin: 20px auto;
	text-align: justify;
}
img{
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
	display: block;
}